NEXT_PUBLIC_APP_URL=http://localhost:3000
PRINTFUL_TOKEN=
PRINTFUL_STORE_ID=
SHOPIFY_STORE_DOMAIN=thebrokie.myshopify.com
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_API_VERSION=2026-07
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
